body {
    margin: 0;
    background-image: url("images/papyrus.png");
}

#wrapper {  
    height: 100%;
}

#head {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #cccccc;
}

#name {
    background-color: #4aaaa5;
    width: 350px;
    height: 80px;
    text-align: center;
    float: left;
    margin-left: 205px;
}

#vin {
    position: absolute;
    color: #ffffff;
    text-align: center;
    padding-left: 18px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav {
    float: right;
    margin-right: 180px;
    margin-top: 15px;
}

a {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

li {
    position: relative;
    font-size: 16px;
    right: 25px;
    display: inline;
    border-right: 1px solid rgb(204, 203, 203);
    padding-right: 15px;
    padding-left: 20px;
}

section {
    background-color: white;
    margin: 0 auto;
    width: 960px;
    color: #777777;
    padding: 15px;
    border: 2px solid #cccccc;
    border-radius: 25px;
    margin-top: 125px;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
    padding: 8px;
    margin: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#pic {
    position: relative;
    float: left;
    padding: 5px;
    margin-right: 10px;
    box-shadow: 5px 5px 3px gray;
}

footer {
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    background-color: #666666;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 8px solid #4aaaa5;
}